._ {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    background: #459DF5;
    border-radius: 4px;
}
.colorTextBlue {
    background: none;
    color: #459DF5;
}
.colorTextBlack {
    background: none;
    color: #000000;
}
.colorRed {
    background: #F53152;
}
.sizeSmall {
    height: 24px;
    padding: 4px 8px;
    gap: 4px;
}
.sizeLarge {
    height: 32px;
    padding: 8px 16px;
    gap: 8px;
}