* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
input :active :hover :focus {
    outline: 0;
    outline-offset: 0;
}
input ::placeholder {
    color: #BAD8F5;
}
.inputForm ::placeholder {
    color: #BAD8F5;
}
.inputForm {
    font-family: 'Ubuntu' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    padding: 8px 4px 8px 4px;
    outline: none;
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #459DF5;
    border-radius: 4px;
}
.inputFormError {
    padding: 8px 4px 8px 4px;
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: space-between;
    border: solid 2px #b73333;
    border-radius: 4px;
}
.inputFormLock {
    padding: 8px 4px 8px 4px;
    width: 100;
    height: 32px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #459DF5;
    border-radius: 4px;
    background: #BAD8F5;
}
.inp {
    margin-left: 4px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    outline: 0;
    outline-offset: 0;
    left: 5px;
    width: 100%;
    border: none;
    background: none;
    font-size: 0.8rem;
}
.borderBlue {
    border: 1px solid #459DF5;
    border-radius: 3px;
}

.borderRed {
    border: solid 2px #b73333;
    border-radius: 3px;
}

.backgroundBlue {
    background: #94b3ce;
}

.x {
    border: none;
    background: none;
}
.xNone {
    display: none;
}
.topText {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}
.lockNone {
    display: none;
}
.lock {
    fill: black;
    stroke:black;
    margin-right: 0.3rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

input[id="black"]::placeholder { color: black; }

input[name="searchFocus"]:focus {
    margin-left: -20px;
    padding-left: 20px;
}