._ {
    cursor: pointer;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #BAD8F5;
    border-radius: 2px;
}
.checked {
    background: #459DF5;
}