.filterBottom {
    margin: 0 48px 32px 48px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    /* align-items: center; */
    align-items: flex-end;
    justify-content: flex-start;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    height: 88px;
    background: #EBF0F5;
    border-radius: 8px;
}
.filterNone{
    display: none;
}
.button {
    width: 88px;
}