.filterBottom {
    margin: 0 48px 32px 48px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    /* align-items: center; */
    align-items: flex-end;
    justify-content: flex-start;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    height: 88px;
    background: #EBF0F5;
    border-radius: 8px;
}
.filterNone{
    display: none;
}
.inputDate {
    display: flex;
    align-items: flex-end;
    padding: 0px;
    gap: 4px;
    width: 288px;
    height: 56px;
}
.inputStatus{
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 192px;
    height: 56px;
}
.inputPrice {
    display: flex;
    align-items: flex-end;
    padding: 0px;
    gap: 4px;
    width: 256px;
    height: 56px;
}
.inputButton {
    display: flex;
    align-items: flex-end;
    padding: 0px;
    gap: 8px;
    height: 56px;
}